<%- include('./includes/base.ejs') %>

    <h1>About Us</h1>
    <br>
    <%- include('./includes/header.ejs') %>

    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum</p>
    <%- include('./includes/footer.ejs') %>